<div class="container">
  <footer class="pt-4 my-md-5 pt-md-5">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-body-secondary">© 2025 Everblack</small>
      </div>
      <div class="col-6 col-md">
        <h5>Services</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/docs/moab">Moab</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/docs/grackle">Grackle</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Monstera</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/docs/monstera">Docs</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="https://github.com/evrblk/monstera">GitHub</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Cloud</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/docs/api">API Basics</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/docs/iam">IAM</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
<!--          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/company">Company</a></li>-->
<!--          <li class="mb-1"><a class="link-secondary text-decoration-none" href="/blog">Blog</a></li>-->
          <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="https://github.com/evrblk">GitHub</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" target="_blank" href="https://reddit.com/r/evrblk">Reddit</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
